.messages {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding-left: 4%;
    text-decoration: none;
}

.newMessageBlock {
    display: flex;
    justify-content: center;
}

.newMessage {
    width: 50%;
}